<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="Stylesheet" href="../Styles/header.css"></link>
		<link rel="Stylesheet" href="../Styles/content.css"></link>
		<link rel="Stylesheet" href="../Styles/product.css"></link>
		<link rel="Stylesheet" href="../Styles/loading.css"></link>
	</head>
	<body style="background-color: #EFEFEF">
		<header>
			<a class="logo" href="#">Nutanix - Deals Hub</a>
			<aside class="page-data" data-total-likes="0">
				<span id="likes">Total likes: 0</span>
				<span id="hits">| API Hits: 0</span>
			</aside>
		</header>
		<main>
			<div class="modal"></div>
		</main>
	<script src="./Script/jquery-1.11.3.min.js"></script>
	<script src="./Script/app.js"></script>
	</body>
</html>