<section class="deals" data-prod-likes="0">
	<h1 class="productHeading">
		
	</h1>
	<h3 class="provider">
		
	</h3>
	<div class="prodDetails">
		<img class="prodImg" src="">
		<div class="prodDesc">
			<span class="ratingImg"></span>
			<span class="ratingTxt"></span>
			<span class="link">Link: <a href=""></a></span>
			<span class="actualPrice">
				Actual Price:
				<span class="stikeoutPrice">
					&#8377 
				</span>
			</span>
			<span class="finalPrice">
				Final Price:
				<span class="highlightPrice">
					&#8377 
				</span>
			</span>
			<span class="offer">
				
			</span>
			<span class="likes">
				
			</span>
		</div>
	</div>						
</section>